.main-body {
    background-image: url('../images/Bugatti.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.car-item {
    display: inline-block;
    width: 100%;
}

.car-item label {
    color: #777;
    font-size: 13px;
}

.car-item .value {
    font-size: 14px;
}

.card-title {
    padding-bottom: 10px;
    text-align: center;
}

.card {
    max-width: 300px;
    min-width: 300px;
    margin: 10px;
}

.card-wrapper {
    flex-wrap: wrap;
}

.card-img-top {
    height: 170px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.icon {
    background-color: #fff;
    padding: 3px;
    position: absolute;
    top: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon:hover {
    background-color: #555;
    color: #fff;
}

.icon.edit-icon {
    right: 10px;
}

.icon.delete-icon {
    right: 40px;
}

.icon.delete-icon:hover {
    background-color: #f00;
    color: #fff;
}