div {
    margin-top: 50px;
}

div table {
    border-collapse: collapse;
    border-spacing: 0;
}

table tr th , table tr td{
    text-align: center;
    padding: 15px;
    /* width: 45%; */
    border: 1px solid black;
}

.main-body{
    
    background-image: url('../images/mustang.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header ,.main-section div table {
    background-color: #fff;
}